.dropdown-menu {
  font-family: "Epilogue", sans-serif;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 4px black;
  border: none;
  border-radius: 4px;
  padding: 5px 0;
  list-style: none;
}

.dropdown-menu li {
  padding: 5px 10px;
  color: gray;
}

.dropdown-toggle {
  cursor: pointer;
}
