body {
  font-family: "Epilogue", sans-serif;
}
section {
  height: 800px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: safe;
  margin: 80px auto;
}

.intro {
  margin: 96px 0;
}

.intro h1 {
  font-size: 60px;
  font-weight: 700;
}

.intro p {
  color: gray;
  margin: 50px auto;
  padding-right: 350px;
  text-align: left;
}

.intro button {
  background-color: black;
  padding: 12px 14px;
  color: white;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
}

.hero {
  margin: 96px auto;
  height: 500px;
}

.clients {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

.clients svg {
  padding-right: 45px;
}
